html {
    font-size: 75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    /*la herencia busca al padre mas cercano que tenga una propiedad especifica definida*/
    font-size: inherit;
}