* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.main_container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   row-gap: 20px;
   column-gap: 30px;
}

.main_container-title {
    border: 2px black solid;
}

.main_container-content {
    border: 2px black solid;
   
}