*{
    /*esta propiedad hace que cuando agreguemos por ejemplo padding, el navegador reste dimension al width y haga el calculo automaticamente para ajustar el tamaño de la pantalla*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 40px;
}

